.carousel-inner img {
    margin-left: auto;
    margin-right: auto;
}

.carousel-item img{
    width: 20%;
    height: 20%;
    padding-top: 5%;
    padding-bottom: auto;
    
}

body {
    background-color: #f5f4f0;
    font-family: fantasy;
}

.navbar a {
    color: white;
    font-size: large;
    text-shadow: #198754;
}
.navbar a:hover {
    color: #198754;
}
.furry{
    text-align: center;
}
.card{
    background-color: #f5f4f0;
}